/* 
    Additional stylings by Chris Hall
*/

section.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.box {
    display: block;
    margin: 0 2rem;
}

nav.topNav ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
}

nav.topNav ul li {
    display: block;
    margin: 0 1.5rem;;
}