<!-- main.hbs-->
<!--
  CITATIONS

  Adapted from nodejs starter app.
  This application was adapted from starter code provided by Dr. Curry and Prof. Safonte
  for the CS 340 course at Oregon State Univirisity.
  Curry, M. and Safonte, D. 2023
  https://github.com/osu-cs340-ecampus/nodejs-starter-app

-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../css/style.css">
    <title>Portland Cycling Specialties</title>
</head>

<header>
    <h1><a href="/">Portland Cycling Specialties - Administration Page</a></h1>
    <nav>
        <a href="customers">Customers</a>
        <a href="orders">Orders</a>
        <a href="products">Products</a> 
        <a href="inventory">Inventory</a> 
        <a href="suppliers">Suppliers</a>
    </nav>
</header>
<body>

    <main>
        {{{body}}}
    </main>
    <footer>
        <p>A CS 340 project. &copy; 2023 Chris Hall &amp; John McCormick</p>
    </footer>
</body>
</html>