<!-- main.hbs-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Portland Cycling Specialties</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>

    {{{body}}}

  </body>
</html>