/* Citation for the style.css:
   Date: 2022-04-20
   Author: John McCormick (self)
   Based upon project in OSU CS290 class project in Spring 2022.
   
   Additional stylings by Chris Hall are included.
*/

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', sans-serif;
  font-size: calc(10px + 1vmin);
  background-color: #f5ebdc;
  color: #0066b2;
  margin: 15px;
  margin-top: calc(30px + 2vmin);
  padding: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  height: 80%;
}

html {
  background-color: #fdbd10;
}

h1 {
	font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
  font-size: calc(10px + 4vmin);
  font-style: normal;
  font-variant: small-caps;
  font-weight: 700;
  color: #0066b2;
  margin-bottom: 0;
  padding-top: 10px;
}

h2 {
  font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
  font-size: calc(10px + 2vmin);
  font-style: normal;
  font-variant: small-caps;
  font-weight: 700;
  color: #ec1c24;
  margin-top: 0;
  padding-bottom: 10px;
}

/* 
    Additional stylings by Chris Hall
*/

section.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div.box {
  display: block;
  margin: 0 2rem;
}

nav.topNav {
  position: relative;
  top: 20px;
}

nav.topNav ul {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
}

nav.topNav ul li {
  display: block;
  margin: 0 1.5rem;
}

nav.topNav ul li button {
  border-radius: 5px;
  text-decoration: none;
}

/* ============================ */
/* ======= TABLES STYLE ======= */
/* ============================ */
table {
  border: 5px solid;
  color: #ed7902;
  padding: 1pt;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

tr th {
  border: 1px solid #0066b2;
  color: white;
  padding: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: left;
  background-color: #0066b2;
}

tr td {
  border: 1pt;
  color: #0066b2;
  padding: 8px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #fdbd10;
}

/* =========================== */
/* ======= LINKS STYLE ======= */
/* =========================== */
.App-link {
  color: green;
  text-decoration: none;
}

.App-link:visited {
  color: #ed7902;
}

/* =========================== */
/* ======= FORMS STYLE ======= */
/* =========================== */
form {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', sans-serif;
}

form button {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', sans-serif;
  font-weight: bold;
  font-size: calc(8px + 2vmin);
  text-decoration: none;
  color: #0066b2;
}

fieldset {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', sans-serif;
  font-size: calc(10px + 2vmin);
  color: #0066b2;
}

legend {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', sans-serif;
  font-size: calc(8px + 2vmin);
  color: #0066b2;
}

input {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', sans-serif;
  font-size: calc(10px + 2vmin);
  color: #0066b2;
}

/* ============================= */
/* ======= BUTTONS STYLE ======= */
/* ============================= */
button {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', sans-serif;
  font-weight: bold;
  font-size: calc(8px + 1vmin);
  text-decoration: none;
}

.home-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100px;
  height: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', sans-serif;
  font-size: calc(8px + 1vmin);
  text-align: center;
}

/* ======================================= */
/* ======= HEADERS & FOOTERS STYLE ======= */
/* ======================================= */
.page-header {
  background-color: #fdbd10;
  font-family: 'Arial Black', 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
  font-size: calc(10px + 5vmin);
  color: #ec1c24;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  margin-top: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.page-footer {
  background-color: #fdbd10;
  font-family: 'Arial Black', 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
  font-size: calc(10px + 5vmin);
  color: #ec1c24;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

/* ======= PALETTE =======
    BACKGROUND => #F5EBDC
    RED =>    #ec1c24
    GOLD =>   #fdbd10
    BLUE =>   #0066b2
    TAN =>    #ed7902
    GREEN =>  green
*/

/* ======= FONTS =======
    HEADINGS => 'Arial Black', 'Arial Bold', Gadget, sans-serif;
    [OLD] HEADINGS => 'Arial Black', 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', sans-serif
    TEXT => 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', sans-serif
*/
