<!-- index.hbs-->

<h1>Portland Cycling Specialties</h1>
<h2>Administration Page</h2>
<h3>NOTE: For Step 4 Draft only: Customers can be used for demo.</h3>
<table border="0">
  <tr>
    <td valign="top">
      <ul>
        <li><button class="button" style="background-color: #F77D24;"><a
              href="customers"
            >Customers</a></button></li><br />
        <li><button class="button" style="background-color: #F77D24;"><a
              href="products"
            >Products</a></button></li><br />
        <li><button class="button" style="background-color: #F77D24;"><a
              href="suppliers"
            >Suppliers</a></button></li><br />
        <li><button class="button" style="background-color: #F77D24;"><a
              href="inventory"
            >Inventory</a></button></li>
      </ul>
    </td>
    <td valign="top">
      <ul>
        <li><button class="button" style="background-color: #F77D24;"><a
              href="orders"
            >Orders</a></button></li><br />
        <li><button class="button" style="background-color: #F77D24;"><a
              href="order_products"
            >Order Products</a></button></li><br />
        <li><button class="button" style="background-color: #F77D24;"><a
              href="locations"
            >Locations</a></button></li>
      </ul>
    </td>
  </tr>
</table>