  {{!-- CITATIONS

  Adapted from nodejs starter app.
  This application was adapted from starter code provided by Dr. Curry and Prof. Safonte
  for the CS 340 course at Oregon State University.
  Curry, M. and Safonte, D. 2023
  https://github.com/osu-cs340-ecampus/nodejs-starter-app
  --}}
  
<h1>Portland Cycling Specialties</h1>
<h2>Administration Page</h2>
<table border="0">
  <tr>
    <td valign="top">
      <ul>
        <li><button class="button"><a
              href="customers"
            >Customers</a></button></li><br />
        <li><button class="button"><a
              href="products"
            >Products</a></button></li><br />
        <li><button class="button"><a
              href="suppliers"
            >Suppliers</a></button></li><br />
        <li><button class="button"><a
              href="inventory"
            >Inventory</a></button></li>
      </ul>
    </td>
    <td valign="top">
      <ul>
        <li><button class="button"><a
              href="orders"
            >Orders</a></button></li><br />
        <li><button class="button"><a
              href="order_products"
            >Order Products</a></button></li><br />
        <li><button class="button"><a
              href="locations"
            >Locations</a></button></li>
      </ul>
    </td>
  </tr>
</table>